.MainPage {
  .colorsDiv {
    .colorSquare {
      border-radius: 50%;
      border-width: 0.12rem;
      border-color: red;
      width: 1.2rem;
      height: 1.2rem;
    }
    .borderSolid {
      border-style: solid;
    }
  }
}
.card {
  border-width: 0.15rem;
}

.navb {
  background-color: #ffef82;
  nav span {
    font-weight: 700;
  }
}
